#account_zczje {
	border: none;
	width: 50%;
	height: 43rem;
}

#account_sjzsyje {
	border: none;
	width: 50%;
	height: 43rem;
}

#account_xhjefstj {
	border: none;
	width: 50%;
	height: 43rem;
}

#account_czfstj {
	border: none;
	width: 50%;
	height: 43rem;
}

body {
	background-image: url(../img/背景1.jpg);
	font-family: "微软雅黑";
	margin: 0px;
}