#user_yhly {
	border: none;
	width: 50%;
	height: 43rem;
}

#user_yhye {
	border: none;
	width: 50%;
	height: 43rem;
}

#user_yhhblq {
	border: none;
	width: 50%;
	height: 43rem;
}

#user_yhtx {
	border: none;
	width: 50%;
	height: 43rem;
}

body {
	background-image: url(../img/背景1.jpg);
	font-family: "微软雅黑";
	margin: 0px;
}